{{#partial "content"}}

    {{#if editAttendee}}
        <h1>update/edit attendee-form.hbs</h1>
        <h1>EDIT ATTENDEE</h1>

        <form action="/events/{{editAttendee.eventId}}/attendees/{{editAttendee.idAttendee}}/new" method="post">
            <label for="attendee-name">NAME:</label>
            <input id="attendee-name" name="attendee-name" type="text" value="{{editAttendee.attendeeName}}">
            <br>
            <button type="submit" class="btn btn-default">UPDATE</button>
        </form>

    {{else}}
        <h1>add attendee-form.hbs</h1>
        <h1>ADD ATTENDEE</h1>

        <form action="/events/{{event.idEvent}}/attendee/new" method="post">
            <label for="attendee-name">Name:</label>
            <input id="attendee-name" name="attendee-name" type="text" value="">
            <br>
            <button type="submit" class="btn btn-default">ADD</button>
        </form>

    {{/if}}

{{/partial}}
{{> layout.hbs}}