{{#partial "content"}}
<h2>event-details.hbs</h2>

    <h2>{{event.eventTitle}}</h2>
    <p>{{event.eventDescription}}</p>
    <a href="/"><button class="btn btn-default"><a href="/events/{{event.idEvent}}/update">EDIT EVENT</a></button></a>
    <br>

    <h3>ADD ATTENDEE</h3>
    <br>
    <form action="/events/{{event.idEvent}}/attendees/new" method="post">
        <label for="attendee-name">Name:</label>
        <input id="attendee-name" name="attendee-name" type="text" value="">
        <br>
        <button class="btn btn-default" type="submit">ADD ATTENDEE</button>
    </form>

    {{#each attendees}}
        <p>{{attendeeName}}</p>
        <p><a href="/events/{{event.idEvent}}/attendees/{{idAttendee}}/new">EDIT</a></p>
    {{/each}}

{{/partial}}
{{> layout.hbs}}