{{#partial "content"}}
<h2>event-details.hbs</h2>

    <h2>{{event.eventTitle}}</h2>
    <p>{{event.eventDescription}}</p>
    <br>

    <h3>ATTENDEES:</h3>

    {{#if attendees}}
        {{#each attendees}}
            <p>{{attendeeName}}</p>
        {{/each}}
    {{/if}}

        <p>Add new attendee:</p>
        <form action="/events/{{event.idEvent}}/attendee/new" method="post">

            <label for="attendee-name">Name:</label>
            <input id="attendee-name" name="attendee-name" type="text" value="">
            <br>

            <button class="btn btn-default" type="submit">ADD ATTENDEE</button>
        </form>

        <br>
        <a href="/events/{{event.idEvent}}/update">EDIT EVENT</a>
        <br>
        <a href="/"><button class="btn btn-default"><</button></a>

{{/partial}}
{{> layout.hbs}}