{{#partial "content"}}

    <h2>{{event.eventTitle}}</h2>
    <h3>{{event.eventDescription}}</h3>
    <br>

    <h4>ATTENDEES</h4>
    {{#each event.attendees}}
        <p>{{this.attendeeName}}</p>
    {{/each}}

        <h5>Add new attendee:</h5>
        <form action="/events/{{event.idEvent}}/attendee/new" method="post">

            <label for="attendee-name">Name:</label>
            <input id="attendee-name" name="attendee-name" type="text" value="name-1.0">
            <br>

            <button class="btn btn-default" type="submit">ADD ATTENDEE</button>
        </form>

        <br>
        <a href="/events/{{event.idEvent}}/attendee/new">EDIT EVENT</a>
        <br>
        <a href="/"><button class="btn btn-default"><</button></a>

{{/partial}}
{{> layout.hbs}}